body{
    background-color: #565656;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.heading{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 9vw;
    line-height: 0px;
    color: #4D8DBB;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin 700ms;
}

@media only screen and (max-width: 1200px) {
    .heading {
        margin-top: 40px;
    }

    .item{
        width: 80% !important;
    }

  }

.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 2;
    width: 95vw;
    top: 10px;
    left: 2.5vw;

    background: #4D8DBB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1e+07px;
}

.navbar a {
    float: left;
    margin: 0;
    display: block;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover{
    background-color: #565656;
}

.logo-container{
    float: left;
    height: 100%;
    padding: 12.5px;
}

.right-centre {
    float: right;
    height: 100%;
    padding-right: 18px;
}

.right-centre  a{
    padding: 14px 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    grid-column-gap: 100px;
}

.grid-item.home-page {
    background-color: white;
}

img {
    width: 100%;
    height: 100%;
}

.chessContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    background-color: #4D8DBB;
    text-align: center;
    height: 45%;
    width: 45%;
    margin: 2.5%;


}