body{
    background-color: #565656;
}

.heading{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 151px;
    color: #4D8DBB;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}